#profile{
  ul{
    list-style: none;
  }
}

.formSerie{
  background-color: white;
  margin: auto;
  border: 1px solid;
  width: 80%;
  border-radius: 4px;

  display: flex;
  flex-direction: column;

  span{
    width: 1%;
    margin-left: 98%;
  }
}

.genreList{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}