#research{
  padding-top: 30px;
  padding-left: 36%;
  div.barSearch{
    width: 50%;
    height: 25px;
    background-color: grey;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 20px;
    border-radius: 20px;
    input{
      width: 300px;
      margin-right: 12px;
    }
    margin-bottom: 20px;
  }
}