.listSaison{
  display: flex;
  list-style-type: none;
  li{
    margin-right: 5px;
    padding: 2px;
    border: 1px solid $backgroundNav;
    border-radius: 2px;
    background-color: $backgroundNav;
    color: white;
  }
}

.saison{
  span{
    font-style: italic;
  }

  .episode{
    background-color: $icon;
    border-radius: 4px;
    margin-bottom: 2px;
    height: 30px;
    width: 40%;
    margin-left: 10px;
    p{
      padding: 5px;
      color: #212121;
    }
  }
}

